<div class="row">
    <div class="col-9">
        <h3>MovieRama</h3>
    </div>

    <div class="col-3">
        <div class="float-right">
            <!-- Unregistered User  -->
            <div>
                <button class="btn btn-outline-primary mr-2"
                        (click)="redirect('login')">
                    Login
                </button>

                <button class="btn btn-primary"
                        (click)="redirect('register')">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Sort menu-->
<div class="row">
    <div class="col-12">
        <div class="mt-3 p-3 bg-light">
            <span class="pr-2">Sort by:</span>
            <span class="text-primary cursor-pointer" (click)="getMovies('likesCount')">
                Likes
            </span>
            |
            <span class="text-primary cursor-pointer" (click)="getMovies('hatesCount')">
                Hates
            </span>
            |
            <span class="text-primary cursor-pointer" (click)="getMovies('publicationDate')">
                Date
            </span>
        </div>
    </div>
</div>

<!-- List of movies -->
<div class="row mt-5">
    <div class="col">
        <div *ngFor="let movie of movies">
            <app-single-movie [movie]="movie"
                              (publisherId)="onGetPublisherId($event)">
            </app-single-movie>
        </div>
    </div>
</div>
